html, body {
<<<<<<< HEAD
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    position: relative;
    flex: 1 0 auto;
}

p {
    text-align: center;
    vertical-align: middle;
}
=======
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }
  
  html {
    position: relative;
  }
  
  body {
      color: #484848;
      font-size: 14px;
      font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .container {
      max-width: 1000px;
      margin: 30px auto;
  }
  
  h4 {
      font-weight: 400;
      font-size: 14px;
  }
  
  ul {
    list-style: none;
    padding: 10px;
  }
>>>>>>> af34b39cbc9d3cc79409f0c99563c5000809226e
